In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [31]:
df = pd.read_excel('../data/raw/AQI_hourly_city_level_sohna_2023.xlsx')

In [32]:
df.head()

,Days,00:00:00,01:00:00,02:00:00,03:00:00,04:00:00,05:00:00,06:00:00,07:00:00,08:00:00,...,14:00:00,15:00:00,16:00:00,17:00:00,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00,23:00:00
0,1,265,211.0,204.0,191,186.0,184.0,161.0,143,151.0,...,150.0,124.0,128,122.0,111.0,111.0,180.0,240,260.0,280.0
1,2,313,332.0,327.0,300,293.0,278.0,270.0,272,274.0,...,399.0,390.0,384,392.0,378.0,349.0,349.0,350,339.0,331.0
2,3,328,302.0,316.0,323,340.0,346.0,353.0,363,370.0,...,418.0,404.0,394,374.0,360.0,381.0,374.0,383,404.0,397.0
3,4,376,355.0,343.0,347,332.0,337.0,327.0,304,275.0,...,309.0,293.0,293,285.0,282.0,275.0,300.0,328,372.0,377.0
4,5,388,376.0,378.0,375,357.0,326.0,283.0,203,157.0,...,300.0,292.0,293,298.0,318.0,256.0,340.0,359,390.0,396.0

In [33]:
df.dtypes

Days          int64
00:00:00      int64
01:00:00    float64
02:00:00    float64
03:00:00      int64
04:00:00    float64
05:00:00    float64
06:00:00    float64
07:00:00      int64
08:00:00    float64
09:00:00      int64
10:00:00    float64
11:00:00      int64
12:00:00      int64
13:00:00    float64
14:00:00    float64
15:00:00    float64
16:00:00      int64
17:00:00    float64
18:00:00    float64
19:00:00    float64
20:00:00    float64
21:00:00      int64
22:00:00    float64
23:00:00    float64
dtype: object

In [34]:
# checking for missing values
df.isnull().sum()

Days        0
00:00:00    0
01:00:00    1
02:00:00    1
03:00:00    0
04:00:00    1
05:00:00    1
06:00:00    1
07:00:00    0
08:00:00    1
09:00:00    0
10:00:00    1
11:00:00    0
12:00:00    0
13:00:00    1
14:00:00    2
15:00:00    3
16:00:00    0
17:00:00    1
18:00:00    3
19:00:00    2
20:00:00    1
21:00:00    0
22:00:00    1
23:00:00    1
dtype: int64

In [35]:
# treating missing values with mean
df = df.fillna(df.mean())

In [36]:
# now again checking for missing values
df.isnull().sum()

Days        0
00:00:00    0
01:00:00    0
02:00:00    0
03:00:00    0
04:00:00    0
05:00:00    0
06:00:00    0
07:00:00    0
08:00:00    0
09:00:00    0
10:00:00    0
11:00:00    0
12:00:00    0
13:00:00    0
14:00:00    0
15:00:00    0
16:00:00    0
17:00:00    0
18:00:00    0
19:00:00    0
20:00:00    0
21:00:00    0
22:00:00    0
23:00:00    0
dtype: int64

In [37]:
# checking for duplicated values
df.duplicated().sum()

np.int64(0)

In [38]:
if not (df['Days'].between(1, 365).all()):
    print(f"{'Days'} out of range (1-365):")
    print(df[~df['Days'].between(1, 365)])
else:
    print(f"Validating {'Days'} (1-365) succeeded.")

Validating Days (1-365) succeeded.

In [39]:
# check if all the aqi cols have numbers or not
aqi_columns = df.columns[1:] 
for col in aqi_columns:
    if pd.api.types.is_numeric_dtype(df[col]):
        print("Yes, all columns are numeric!")

Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!
Yes, all columns are numeric!

In [40]:
df.isnull().sum()

Days        0
00:00:00    0
01:00:00    0
02:00:00    0
03:00:00    0
04:00:00    0
05:00:00    0
06:00:00    0
07:00:00    0
08:00:00    0
09:00:00    0
10:00:00    0
11:00:00    0
12:00:00    0
13:00:00    0
14:00:00    0
15:00:00    0
16:00:00    0
17:00:00    0
18:00:00    0
19:00:00    0
20:00:00    0
21:00:00    0
22:00:00    0
23:00:00    0
dtype: int64

In [43]:
# now extracting the cleaned data to preprocessed dir
df.to_csv("../data/processed/cleaned_aqi_sohna_hourly.csv", index=False)